# Databricks Configuration
DATABRICKS_HOST=https://xxx.cloud.databricks.com
DATABRICKS_ACCESS_TOKEN=dapixxx
GENIE_SPACE_ID=xxx

# Slack Configuration
SLACK_APP_TOKEN=xapp-xxx
SLACK_BOT_TOKEN=xoxb-xxx

# Optional Configuration
SHOW_SQL_QUERY=true
# API_KEY=your-api-key  # Uncomment to secure API endpoints
